body{
    padding: 15px;
    background-color: rgb(23, 56, 61);
}

.map-parent{
    display: flex;
    height: 100%;
    width: 100%;
}

.map-body{
    width: 750px;
    height: 750px;
    margin: auto auto auto 31rem;
    border-radius: 16%;
    position: fixed;
}

.search-bar{
    width: 12%;
    padding: 8px;
    border-radius: 12px;
    text-shadow: none;
    box-shadow: none;
}

.weather-card{
    width: 18rem;
    position: absolute;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0px;
    margin-bottom: 0px;
}